@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --text: #e2d9f2;
    --background: #08040f;
    --primary: #aa87e7;
    --secondary: #431595;
    --accent: #7f40ef;

    --panel: #131114;
    --border: #1b151f;
    --hover: #2a272b;
}
body {
    padding: 0;
    margin: 0;
    background: var(--background);
    color: var(--color);
    font-family: "Poppins";
    color: var(--text);
    overflow-x: hidden;
}
nav {
    height: 60px;
    padding: 0px 80px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border);
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background: var(--background);
}
#nav-content {
    height: 100%;
    display: flex;
    align-items: center;
    width: 85%;
}
#nav-buttons {
    margin-left: auto;
}
.nav-button {
    transition: .3s ease;
    background: var(--panel);
    border: 1px solid var(--border);
    border-radius: 8px;
    color: var(--text);
    height: 35px;
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 15px;
}
#title {
    user-select: none;
    font-weight: 500;
    margin-left: 10px;
    font-size: 17px;
}
#hover-tip {
    transition: .5s ease;
    background: var(--panel);
    padding: 5px 10px;
    border-radius: 8px;
    width: max-content;
    border: 1px solid var(--border);
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: 100vh;
    opacity: 0;
    font-weight: 500;   
}
img[src="logo.png"] {
    height: 25px;
    aspect-ratio: 1;
    user-select: none;
}
.box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about {
    user-select: none;
}
#about-content {
    color: #999999;
    display: flex;
    flex-direction: column;
    width: 500px;
}
#about-header > span {
    background-image: linear-gradient(to right, var(--accent), var(--secondary));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about-paragraph {
    font-weight: 500;
    color: #626262;
}
#portrait {
    aspect-ratio: 1;
    height: 250px;
    background-image: url("https://jaxsonoconnor09.github.io/image-repo/LOC2_7.jpg");
    background-size: 500%;
    background-position-x: -720px;
    background-position-y: -300px;
    border-radius: 100%;
    border: 2px solid var(--border);
}
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#gallery-container > * {
    width: calc(100vw / 4);
    border: 2px solid var(--border);
    border-radius: 10px;
    margin: 5px;
}
.landscape {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}
#copyright {
    margin-top: 100px;
    width: 100vw;
    background: #0f0b14;
    color: var(--text);
    text-align: center;
    padding: 20px 0px;
}