@font-face {
    font-family: "Mont";
    src: url("./Mont-HeavyDEMO.otf");
}
@font-face {
    font-family: "Poppins Black";
    src: url("./Poppins-Black.ttf");
}
@font-face {
    font-family: "Poppins Black Italic";
    src: url("./Poppins-BlackItalic.ttf");
}
@font-face {
    font-family: "Poppins Bold";
    src: url("./Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins Bold Italic";
    src: url("./Poppins-BoldItalic.ttf");
}
@font-face {
    font-family: "Poppins Extra Bold";
    src: url("./Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: "Poppins Extra Bold Italic";
    src: url("./Poppins-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "Poppins Extra Light";
    src: url("./Poppins-ExtraLight.ttf");
}
@font-face {
    font-family: "Poppins Extra Light Italic";
    src: url("./Poppins-ExtraLightItalic.ttf");
}
@font-face {
    font-family: "Poppins Light";
    src: url("./Poppins-Light.ttf");
}
@font-face {
    font-family: "Poppins Light Italic";
    src: url("./Poppins-ExtraLightItalic.ttf");
}
@font-face {
    font-family: "Poppins Medium";
    src: url("./Poppins-Medium.ttf");
}
@font-face {
    font-family: "Poppins Medium Italic";
    src: url("./Poppins-MediumItalic.ttf");
}
@font-face {
    font-family: "Poppins Regular";
    src: url("./Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins Semi Bold";
    src: url("./Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "Poppins Semi Bold Italic";
    src: url("./Poppins-SemiBoldItalic.ttf");
}
@font-face {
    font-family: "Poppins Thin";
    src: url("./Poppins-Thin.ttf");
}
@font-face {
    font-family: "Poppins Thin Italic";
    src: url("./Poppins-ThinItalic.ttf");
}
@font-face {
    font-family: "SF Pro Display Heavy";
    src: url("./SF-Pro-Display-Heavy.otf");
}
@font-face {
    font-family: "SF Pro Text Bold";
    src: url("./SF-Pro-Text-Bold.otf");
}
@font-face {
    font-family: "SF Pro Text Medium";
    src: url("./SF-Pro-Text-Medium.otf");
}
@font-face {
    font-family: "SF Pro Text Regular";
    src: url("./SF-Pro-Text-Regular.otf");
}